.form-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 10px;
}
input{
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    display: block;
}
button{
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    display: block;
    background-color: #ccc;
    cursor: pointer;
}
