#overall_container {
    display: flex;
    justify-content: center;
}

#student_form{
    border: 1px solid gray;
    justify-content: center;
    padding: 2rem;
    width: 40vw;
}
#info_table{
    border: 1px solid gray;
    justify-content: center;
    padding: 2rem;
    width: 40vw;
}

form{
    display: grid;
    row-gap: 0.25rem;
}
input{
    width: 40vw;
}
select{
    width: 100%;
}

#submit_button{
    width: fit-content;
    background-color: mediumblue;
    color: aliceblue;
}
table {
    border-collapse: collapse;
    border: none;
    width:100%;
    
}
thead{
    justify-content: left;
}
tr {
    border-top: 1px solid gray;
}

#lastrow{
    text-align: right;
}

th{
    text-align: left;
}
#tablehead{
    border-top: none;
}
img{
    height: 2rem;
    border-radius: 50%;
    border-color: black;
    border: 3px solid;
}